<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.novakduc.forbega.qlnt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.list.ProjectListActivity"
            android:label="@string/project_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.config.ProjectConfigurationActivity"
            android:label="@string/txtViewBaseTitile"
            android:theme="@style/AppTheme.NoActionBarNotTransparent"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".ui.config.finance.loan.LoanDeclareActivity"
            android:label="@string/txtViewBaseTitile"
            android:theme="@style/AppTheme.NoActionBarNotTransparent">
        </activity>
        <activity
            android:name=".ui.config.EditProjectActivity"
            android:label="@string/txtViewProjectEditTitle"
            android:theme="@style/AppTheme.NoActionBarNotTransparent" />
        <activity
            android:name=".ui.detail.ProjectDetailActivity"
            android:label="@string/txtProjectName"
            android:theme="@style/AppTheme.NoActionBarNotTransparent" />
        <activity
            android:name=".ui.detail.room.add_room.AddRoomActivity"
            android:label="@string/titleAddRoom"
            android:theme="@style/AppTheme.NoActionBarNotTransparent" />
        <activity
            android:name=".ui.detail.room.edit_room.EditRoomActivity"
            android:label="@string/titleAddRoom"
            android:theme="@style/AppTheme.NoActionBarNotTransparent" />
    </application>

</manifest>